*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f7fb;
}

.auth-container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.auth-card{
    background:#fff;
    width:350px;
    padding:35px;
    border-radius:12px;
    box-shadow:0 10px 30px rgba(0,0,0,0.15);
    text-align:center;
}

.auth-card h2{
    margin-bottom:8px;
}

.subtitle{
    font-size:14px;
    color:#777;
    margin-bottom:25px;
}

.input-group{
    text-align:left;
    margin-bottom:18px;
}

.input-group label{
    font-size:14px;
    font-weight:600;
}

.input-group input{
    width:100%;
    padding:10px;
    margin-top:5px;
    border-radius:6px;
    border:1px solid #ddd;
    font-size:14px;
}

.input-group input:focus{
    outline:none;
    border-color:#4e73df;
}

.auth-btn{
    width:100%;
    padding:10px;
    border:none;
    background:#4e73df;
    color:#fff;
    border-radius:6px;
    cursor:pointer;
    font-weight:bold;
    margin-top:10px;
    transition:0.3s;
}

.auth-btn:hover{
    background:#2e59d9;
}

.switch-text{
    margin-top:18px;
    font-size:14px;
}

.switch-text a{
    color:#4e73df;
    text-decoration:none;
    font-weight:600;
}
